{% extends 'base.html' %}
{% block content %}
<br><h2> Seguridad </h2>
<p> En Trivium Hogar nos preocupamos mucho por la seguridad de nuestros huespedes,
    para prevenir cualquier accidente disponemos de mas de 20 guardias de seguridad
    repartidos estrategicamente por todo el hotel. Los mismos estaran para atender
    las inquietudes de los huespedes, dar instrucciones en caso de alguna emergencia
    y en general para resguardar la seguridad de todos los individuos. el personal de
    seguridad estara deisponible en todo momento para resolver cualquier tipo de situacion.
</p>
<p> Ademas contamos con un sofisticado sistema de vigilancia que por su puesto que esta
    diseñado para respetar la privacidad de los huespedes, a la vez que otorga la mayor
    seguridad posible.
</p>
<h2> Actividades </h2>
<p> En Trivium Hogar contamos con una gran cantidad de actividades de las que los huespedes
    pueden optar por realizar.
</p>
<h2> Sala Recreativa</h2>
<p> Disponemas de una sala de gran tamaño que contiene mesas de pool, metegol, mesas de ping
    pong y hasta un boliche. la misma se encuentra disponible a todos los huespedes y a cualquier
    hora.
</p>
<h2> Deportes </h2>
<p> Contamos con 2 canchas de futbol 5, 2 canchas de basquet, 2 canchas de tenis, 2 canchas de padel y
    una pileta de 60 x 30. Ademas tambien esta disponibel el gimnasio que cuenta con equipo moderno
    y bien cuidado.
</p>
<h2> Nuestra Historia </h2>
<p> Todo comenzo como una iniciativa de los hermanos Petra, que decidieron construir un lugar donde la
    gente pudiera hospedarse,disfrutar y en general crear bellos recuerdos que permanezcan en sus mentes
    durante un largo tiempo.
</p>
<p> Los fundadores de Trivium Hogar fueron Martin y Luis Petra, dos hermanos oriundos de Cordoba cuyo 
    padre los abandono. Su madre, una contadora muy comprometida a su trabajo, los crio por si misma y 
    les enseño el valor del trabajo y de ganarse la vida ellos mismos. Los niños comenzaron a trabajar
    en envios a domicilio a la temprana edad de 12 años. para los 17 años ya decidieron cual seria su 
    proyecto mas grnade y comenzaron a trabar en distintas companis y pagar sus propios estudios de 
    manera tal que a sus 32 años los fue posible inaugurar su primer hotel.
</p>
{% endblock %}
{% set active_page = 'about' %}
