<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- bloque head -->

    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Trivium </title>
    <meta name="description" content="(El nombre de la cadena de hoteles) ofrece las mejores opciones de alojamiento en todo el mundo.">
    <meta name="keywords" content="hoteles, alojamiento, cadenas de hoteles, vacaciones, viajes, hospedaje, habitaciones">
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor.css') }}">
  
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  
    <!-- Link Bootstrap's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
    <!-- Google Fonts ================================================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
  
    <!-- script ================================================== -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {% endblock %}

    <!-- fin bloque head -->
  </head>
  <body>
    <header id="nav" class="site-header">
        <!-- bloque header -->

        {% block header %}
        <nav id="navbar-example2" class="navbar navbar-expand-lg py-2">

            
    
          <div class="container ">
    
            <a class="navbar-brand" href="{{url_for('index')}}">
              <img class="logo-img" src="{{ url_for('static', filename='images/download.jpeg') }}" alt="image">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
              <ion-icon name="menu-outline" style="font-size: 30px;"></ion-icon>
            </button>
    
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
              aria-labelledby="offcanvasNavbar2Label">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                  <ul class="navbar-nav align-items-center justify-content-end align-items-center flex-grow-1 ">
                      <li class="nav-item">
                          <a class="nav-link {% if active_page == 'index' %}active {% endif %}" href="{{url_for('index')}}">Inicio</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {% if active_page == 'about' %}active {% endif %}" href="{{url_for('about')}}">Sobre nosotros</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {% if active_page == 'contact' %}active {% endif %}" href="{{url_for('contact')}}">Contacto</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {% if active_page == 'rooms' %}active {% endif %}" href="{{url_for('rooms')}}">Habitaciones</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {% if active_page == 'FAQ' %}active {% endif %}" href="{{url_for('FAQ')}}">Preguntas Frecuentes</a>
                      </li>
                       <li class="nav-item">
                          <a class="nav-link {% if active_page == 'consultar_reserva' %}active {% endif %}" href="{{url_for('consultar_reserva')}}">Consultar Reserva</a>
                      </li>
                      <br>

                      <li class="nav-item">
                          <form action="{{url_for('reservas')}}">
                              <button class="btn-reserva">Reservar</button>
                          </form>
                      </li>
                  </ul>
              </div>
            </div>
    
          </div>
        </nav>
        {% endblock %}

        <!-- fin bloque header -->
    </header>

    <main class="body-content">
      {% block content %} 

      {% endblock %}
    </main>

    <section id="footer">
        <!-- bloque footer -->

    {% block footer %}
    <div class="container footer-container">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5  ">

        <div class=" col-md-4">
            <h3><img class="logo-img" src="{{ url_for('static', filename='/images/download.jpeg', _external=True) }}" alt="image"></h3>
            <p>Tu comodidad, es nuestra prioridad. Descubre el confort en cada una de nuestros habitaciones.</p>
            <a href="https://www.facebook.com/profile.php?id=61568407109023" class="bi-facebook pe-4"></a>
            <a href="https://www.instagram.com/triviumhotel/" class="bi-instagram pe-4"></a>
            <a href="https://x.com/triviumhotel1" class="bi-twitter pe-4"></a>
            <a href="https://www.youtube.com/@triviuhotel" class="bi-youtube pe-4"></a>
          </div>

        <div class="col-md-2 ">
          <h5>Hoteleria</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{url_for('rooms')}}" class="nav-link p-0 ">Habitaciones</a></li>
            <li class="nav-item mb-2"><a href="{{url_for('index')}}#residence" class="nav-link p-0 ">Sedes</a></li>
            <li class="nav-item mb-2"><a href="{{url_for('index')}}#about-us" class="nav-link p-0 ">Nuestras resenias</a></li>
          </ul>
        </div>

        <div class="col-md-2 ">
          <h5>Sobre Nosotros</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{url_for('about')}}#about_us_story" class="nav-link p-0 ">Nuestra Historia</a></li>
            <li class="nav-item mb-2"><a href="{{url_for('about')}}#instalaciones" class="nav-link p-0 ">Instalaciones </a></li>
            <li class="nav-item mb-2"><a href="{{url_for('about')}}#seguridad" class="nav-link p-0 ">Seguridad </a></li>
          </ul>
        </div>

        <div class="col-md-2 ">
          <h5>Ayuda</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{url_for('contact')}}" class="nav-link p-0 ">Contactanos </a></li>
            <li class="nav-item mb-2"><a href="{{url_for('FAQ')}}" class="nav-link p-0 ">Preguntas frecuentes</a></li>
          </ul>
        </div>
      </footer>
    </div>



    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top"></footer>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 ">
        <div class="col-md-8 d-flex align-items-center">
          <p>© 2024 (Trivium), INC. TODOS LOS DERECHOS RESERVADOS.</p>

        </div>
        <div class="col-md-4 d-flex align-items-center">
          <p>Pagina web hecha por: <a href="https://github.com/blazromero" class="link-primary"
          target="_blank">Blaz Romero</a> <br>
          <a href="https://github.com/YANESGHD" class="link-primary"
          target="_blank">Gabriela Yanes</a> <br>
          <a href="https://github.com/thiagopedoni" class="link-primary"
          target="_blank">Thiago Pedoni</a> <br>
          <a href="https://github.com/Marinocabreraa" class="link-primary"
          target="_blank">Marino Cabrera</a> <br>
          <a href="https://github.com/Intiblanfiu" class="link-primary"
          target="_blank">Inti Blanco</a> <br>
          
        </div>

      </footer>
    </div>
    {% endblock %}

        <!-- fin bloque footer -->
  </section>

    <!-- bloque scripts -->

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navScrolled.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    {% endblock %}

    <!-- fin bloque scripts -->
  </body>
</html>