{% extends "base.html" %}

{% block content %}
<h1 class="relleno">asdasdasdasdasdas</h1>
<h2 class="contact-heading">Contactanos</h2>
<p class="contact-description">Por favor, completá el siguiente formulario y nos pondremos en contacto con vos lo antes posible.</p>

<form class="contact-form" action="/contact" method="post">
    <label class="contact-form-label" for="nombre">Nombre:</label>
    <input class="contact-form-input" type="text" id="nombre" name="nombre" required>

    <label class="contact-form-label" for="apellido">Apellido:</label>
    <input class="contact-form-input" type="text" id="apellido" name="apellido" required>

    <label class="contact-form-label" for="email">Correo electrónico:</label>
    <input class="contact-form-input" type="email" id="email" name="email" required>

    <label class="contact-form-label" for="asunto">Asunto:</label>
    <input class="contact-form-input" type="text" id="asunto" name="asunto" required>

    <label class="contact-form-label" for="mensaje">Mensaje:</label>
    <textarea class="contact-form-textarea" id="mensaje" name="mensaje" rows="5" required></textarea>

    <button class="contact-submit-button" type="submit">Enviar</button>
</form>
{% endblock %}