{% extends "base.html" %}

{% block content %}
  <!-- billboard start  -->
  <section id="billboard">
    <div class="container ">
      <div class="row flex-lg-row-reverse align-items-center ">

        <div class="col-lg-6">
          <img src="{{ url_for('static', filename='/images/hotel-principal.jpeg', _external=True) }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
          <h1 class=" text-capitalize  lh-1 my-3">Hotel Trivium</h1>
          <p class="lead">El hotel simbolo de nuestro pais.</p>
          <nav class="navbar navbar-expand-lg billboard-nav">
            <div class="container billboard-search p-0">

              <div class="row billboard-row">
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Location">
                    <option selected>Mendoza</option>
                    <option value="1">Misiones</option>
                    <option value="2">Cordoba</option>
                    <option value="3">Salta</option>
                    <option value="4">Santa Cruz</option>
                    <option value="5">Ciudad de Buenos Aires</option>
                  </select>
                </div>
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Personas">
                    <option selected>Personas</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">+4</option>

                  </select>
                </div>
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Habitaciones">
                    <option selected>Type</option>
                    <option value="1">Classic</option>
                    <option value="2">Doble</option>
                    <option value="3">Premium</option>
                    <option value="4">Deluxe</option>
                  </select>
                </div>

                <div class="col-lg-3 billboard-btn">
                  <button type="submit" class="btn btn-primary btn-lg billboard-search">Search</button>
                </div>
              </div>


            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- Residence start  -->
  <section id="residence">
    <div class="container  my-5 py-5">
      <h2 class="text-capitalize m-0 py-lg-5">Popular Residence</h2>

      <div class="swiper-button-next residence-swiper-next  residence-arrow"></div>
      <div class="swiper-button-prev residence-swiper-prev residence-arrow"></div>

      <div class="swiper residence-swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-mendoza.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Trivium Mendoza</h5>
                </a>
                <p class="card-text">General San Martin 1987, Mendoza</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-buenosaires.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Trivium Buenos Aires</h5>
                </a>
                <p class="card-text">Corrientes 1087, CABA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-misiones.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Trivium Misiones</h5>
                </a>
                <p class="card-text">San Miguel de Guemes, Misiones</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}"alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item1.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item2.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item3.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item4.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!--About us start  -->
  <section id="about-us">
    <div class="container">
      <div class="row py-lg-5">

        <h2 class="text-capitalize text-center m-0 py-lg-5">Why to choose us</h2>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/search.png', _external=True) }}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h4 class="fw-normal mt-5 ">Easy to find</h4>
          <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet
            facilisis.</p>
        </div>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/price.png', _external=True) }}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h4 class="fw-normal mt-5">Affordable Prices</h4>
          <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet
            facilisis.</p>
        </div>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/time.png', _external=True) }}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h4 class="fw-normal mt-5 ">Quickly Process</h4>
          <p>Ac, gravida in diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui
            pellentesque. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonial start  -->
  <section id="testimonial">
    <div class="container my-5">



      <div class="swiper testimonial-swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row my-5 py-lg-5">
              <div class="col-md-8 mx-auto">
                <img src="{{ url_for('static', filename='/images/quote.png', _external=True) }}" class="rounded mx-auto d-inline" alt="...">
                <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a fringilla
                  eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                <div class="row">
                  <div class="col-md-8">
                    <p class="pt-5 mb-1">Elena Pravo</p>
                    <p class="">Ceo, Upstate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="row my-5 py-lg-5">
              <div class="col-md-8 mx-auto">
                <img src="{{ url_for('static', filename='/images/quote.png', _external=True) }}" class="rounded mx-auto d-inline" alt="...">
                <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a fringilla
                  eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                <div class="row">
                  <div class="col-md-8">
                    <p class="pt-5 mb-1">Elena Pravo</p>
                    <p class="">Ceo, Upstate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="row my-5 py-lg-5">
              <div class="col-md-8 mx-auto">
                <img src="{{ url_for('static', filename='/images/quote.png', _external=True) }}" class="rounded mx-auto d-inline" alt="...">
                <p class="testimonial-p mt-4">Massa semper non rutrum orci facilisi sit. Lectus porta quam a fringilla
                  eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.</p>

                <div class="row">
                  <div class="col-md-8">
                    <p class="pt-5 mb-1">Elena Pravo</p>
                    <p class="">Ceo, Upstate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>

        <div class=" testimonial-swiper-button col-md-3 position-absolute">
          <div class="swiper-button-prev testimonial-arrow"></div>
          <div class="arrow-divider"> | </div>
          <div class="swiper-button-next testimonial-arrow"></div>
        </div>

      </div>
    </div>
  </section>

  <!-- Help start  -->
  <section id="help" class="py-5"
    style="background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0.00) 100%);">
    <div class="container-lg my-5">

      <div class="row d-flex justify-content-between align-items-center">

        <div class="col-md-6">
          <div class="image-holder d-flex">
            <img src="{{ url_for('static', filename='/images/group.png', _external=True) }}" class="img-fluid" alt="Bootstrap Themes" loading="lazy">
          </div>
        </div>

        <div class="col-md-6">
          <div class="text-content ps-md-5 mt-4 mt-md-0">
            <h2 class="text-capitalize">We help people to find homes</h2>
            <p>Mauris orci donec blandit maecenas. Orci lorem purus porttitor massa consectetur. Neque, vestibulum sed
              varius magna et at. Eu, adipiscing morbi augue justo. Nibh laoreet volutpat quis velit. Blandit aliquam
              donec sed morbi congue eget lorem viverra porta id lobortis.</p>
            <a href="index.html" class="btn btn-primary btn-lg">Get In Touch</a>
          </div>
        </div>


      </div>
    </div>
  </section>

  <!-- Lets start  -->
  <section id="start">
    <div class="container my-5 py-5">
      <div class="row featurette py-lg-5 ">
        <div class="col-md-5 order-md-1 d-flex">
          <h1 class="text-capitalize  lh-1 mb-3">Let’s simply begin with rentiz.</h1>
        </div>
        <div class="col-md-7 order-md-2">
          <div class="text-content ps-md-5 mt-4 mt-md-0">
            <p class="py-lg-2">Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue justo. Nibh
              laoreet volutpat quis velit. Blandit aliquam donec sed morbi congue eget lorem viverra porta id
              lobortis.</p>
            <a href="index.html" class="btn btn-primary btn-lg px-4 me-md-2">Get
              Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
</body>

</html>