{% extends "base.html" %}

{% block content %}
  <!-- billboard start  -->
  <section id="billboard">
    <div class="container ">
      <div class="row flex-lg-row-reverse align-items-center ">

        <div class="col-lg-6">
          <img src="{{ url_for('static', filename='/images/hotel-principal.jpeg', _external=True) }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
          <h1 class=" text-capitalize  lh-1 my-3">Hotel Trivium</h1>
          <p class="lead">El hotel simbolo de nuestro pais.</p>
          <nav class="navbar navbar-expand-lg billboard-nav">
            <div class="container billboard-search p-0">

              <div class="row billboard-row">
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Location">
                    <option selected>Mendoza</option>
                    <option value="1">Misiones</option>
                    <option value="2">Cordoba</option>
                    <option value="3">Salta</option>
                    <option value="4">Santa Cruz</option>
                    <option value="5">Ciudad de Buenos Aires</option>
                  </select>
                </div>
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Personas">
                    <option selected>Personas</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">+4</option>

                  </select>
                </div>
                <div class="col-lg-3 billboard-select">
                  <select class="form-select mb-2 mb-lg-0" aria-label="Habitaciones">
                    <option selected>Tipo</option>
                    <option value="1">Classic</option>
                    <option value="2">Doble</option>
                    <option value="3">Premium</option>
                    <option value="4">Deluxe</option>
                  </select>
                </div>

                <div class="col-lg-3 billboard-btn">
                  <button type="submit" class="btn btn-primary btn-lg billboard-search">Buscar</button>
                </div>
              </div>


            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- Residence start  -->
  <section id="residence">
    <div class="container  my-5 py-5">
      <h2 class="text-capitalize m-0 py-lg-5">Residencias Populares</h2>

      <div class="swiper-button-next residence-swiper-next  residence-arrow"></div>
      <div class="swiper-button-prev residence-swiper-prev residence-arrow"></div>

      <div class="swiper residence-swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-mendoza.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Trivium Mendoza</h5>
                </a>
                <p class="card-text">General San Martin 1987, Mendoza</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-buenosaires.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Trivium Buenos Aires</h5>
                </a>
                <p class="card-text">Corrientes 1087, CABA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-misiones.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Trivium Misiones</h5>
                </a>
                <p class="card-text">San Miguel de Guemes, Misiones</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}"alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item1.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item2.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item3.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <a href="index.html"><img src="{{ url_for('static', filename='/images/item4.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
              <div class="card-body p-0">
                <a href="index.html">
                  <h5 class="card-title pt-4">Aliva Priva Jalvin</h5>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text">
                  <ul class="d-flex">
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                    <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <!--Ofertas de fin de semana  -->
    <!-- Residence start  -->
    <section id="residence">
      <div class="container  my-5 py-5">
        <h2 class="text-capitalize m-0 py-lg-5">Ofertas de fin de semana</h2>
  
        <div class="swiper-button-next residence-swiper-next  residence-arrow"></div>
        <div class="swiper-button-prev residence-swiper-prev residence-arrow"></div>
  
        <div class="swiper residence-swiper">
          <div class="swiper-wrapper">
  
            <div class="swiper-slide">
              <div class="card">
                <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-playa.png', _external=True) }}" class="card-img-top" alt="image"></a>
                <div class="card-body p-0">
                  <a href="index.html">
                    <h5 class="card-title pt-4">Trivium Costa del Este</h5>
                  </a>
                  <p class="card-text">Avenida Costanera 199, Argentina</p>
  
                  <div class="card-text">
                    <ul class="d-flex">
                      <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 4 bed</li>
                      <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                      <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                    </ul>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <a href="index.html"><img src="{{ url_for('static', filename='/images/hotel-bosque.jpg', _external=True) }}" class="card-img-top" alt="image"></a>
                <div class="card-body p-0">
                  <a href="index.html">
                    <h5 class="card-title pt-4">Trivium Mar de las Pampas</h5>
                  </a>
                  <p class="card-text">Mar de las Pampas 7165, Argentina</p>
  
                  <div class="card-text">
                    <ul class="d-flex">
                      <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bed.png', _external=True) }}" alt="image"> 2 bed</li>
                      <li class="residence-list"> <img src="{{ url_for('static', filename='/images/bath.png', _external=True) }}" alt="image"> 2 bath</li>
                      <li class="residence-list"> <img src="{{ url_for('static', filename='/images/square.png', _external=True) }}" alt="image"> 1203 Sqft.</li>
                    </ul>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!--About us start  -->
  <section id="about-us">
    <div class="container">
      <div class="row py-lg-5">

        <h2 class="text-capitalize text-center m-0 py-lg-5">Porque elegirnos</h2>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/search.png', _external=True) }}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h4 class="fw-normal mt-5 ">Facil de encontrar</h4>
          <p>Nos encontrarás fácilmente, rodeados de naturaleza y a pocos minutos de las principales rutas de acceso.
             Un viaje sencillo para comenzar tu escapada perfecta.</p>
        </div>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/price.png', _external=True) }}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h4 class="fw-normal mt-5">Precios Asequibles</h4>
          <p>Disfruta de una experiencia única en medio de la naturaleza sin comprometer tu presupuesto. 
            Ofrecemos tarifas accesibles para que tu estancia sea cómoda y memorable.</p>
        </div>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/time.png', _external=True) }}" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h4 class="fw-normal mt-5 ">Procesamiento Rápido</h4>
          <p>Con nuestro proceso de reserva y check-in ágil, podrás comenzar a disfrutar de tu estancia sin demoras.
            Todo está pensado para tu comodidad desde el primer momento. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonial start  -->
  <section id="testimonial">
    <div class="container my-5">



      <div class="swiper testimonial-swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row my-5 py-lg-5">
              <div class="col-md-8 mx-auto">
                <img src="{{ url_for('static', filename='/images/quote.png', _external=True) }}" class="rounded mx-auto d-inline" alt="...">
                <p class="testimonial-p mt-4">Sin duda, una de las mejores experiencias hoteleras que he tenido! Desde que 
                  llegue al hotel, me senti como en casa. La atencion del personal es excelente y las instalaciones son 
                  de primer nivel. Sin duda, volveria a hospedarme en el Hotel Trivium.</p>
                </p>

                <div class="row">
                  <div class="col-md-8">
                    <p class="pt-5 mb-1">Agustina Salerno</p>
                    <p class="">Bs-As, Argentina</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="row my-5 py-lg-5">
              <div class="col-md-8 mx-auto">
                <img src="{{ url_for('static', filename='/images/quote.png', _external=True) }}" class="rounded mx-auto d-inline" alt="...">
                <p class="testimonial-p mt-4">¡Trivium fue una elección soñada! La estancia fue impecable de principio
                   a fin. La decoración es moderna y elegante, y cada rincón está pensado para el confort de los huéspedes. 
                   Honestamente lo super recomiendo</p>

                <div class="row">
                  <div class="col-md-8">
                    <p class="pt-5 mb-1">Maria Lopez</p>
                    <p class="">Mendoza, Argentina</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="row my-5 py-lg-5">
              <div class="col-md-8 mx-auto">
                <img src="{{ url_for('static', filename='/images/quote.png', _external=True) }}" class="rounded mx-auto d-inline" alt="...">
                <p class="testimonial-p mt-4">Este hotel fue una experiencia maravillosa. Las habitaciones son cómodas, limpias
                   y bien decoradas, y el personal siempre está dispuesto a ayudar con una sonrisa. La ubicación es ideal para 
                   explorar la ciudad; ¡sin duda volvería a hospedarme aquí!</p>

                <div class="row">
                  <div class="col-md-8">
                    <p class="pt-5 mb-1">Elena Costas</p>
                    <p class="">Salta, Argentina</p>
                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>

        <div class=" testimonial-swiper-button col-md-3 position-absolute">
          <div class="swiper-button-prev testimonial-arrow"></div>
          <div class="arrow-divider"> | </div>
          <div class="swiper-button-next testimonial-arrow"></div>
        </div>

      </div>
    </div>
  </section>
  
{% endblock %}
</body>

</html>