{% extends "base.html" %}

{% block content %}
  <section class="hero" id="hero_index">
    <h3>LA DISTINCIÓN DE UN LUGAR ÚNICO</h3>
    <h6>TRIVIUM HOTEL & RESORT</h6> <br> <br>
  </section>

  <!-- Descripción start  -->
  <section id="description">
    <div class="container">
      <div class="row py-lg-5">
        <div class="div-descripcion"> <br>
          <h4 class="text-capitalize">TRIVIUM HOTEL & RESORT</h4>
          <h6 class="text-capitalize">HOTEL DE LUJO EN ARGENTINA</h6>
          <p>En Trivium Hotel & Resort, nos enorgullece ofrecer una experiencia única en cada uno de nuestros hoteles. 
            Nuestros hospedajes están ubicados en los destinos más exclusivos de Argentina, y ofrecen una combinación de 
            lujo y comodidad que no encontrarás en ningún otro lugar.
            <br>
             Ya sea que estés buscando un refugio tranquilo en la naturaleza o una escapada urbana, en Trivium 
            Hotel & Resort encontrarás el lugar perfecto para relajarte y disfrutar de la belleza de Argentina.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Residence start  -->
  <section id="residence">
    <div class="container  my-5 py-5">
      <h2 class="text-capitalize m-0 py-lg-5">Residencias Populares</h2><br>

      <div class="swiper-button-next residence-swiper-next  residence-arrow"></div>
      <div class="swiper-button-prev residence-swiper-prev residence-arrow"></div>

      <div class="swiper residence-swiper">
          <div class="swiper-wrapper">

              {% for hotel in hoteles %}
                  {% if hotel <= limite_id %}

                  <div class="swiper-slide">
                      <div class="card">
                          <a href="{{ url_for('rooms') }}"><img src="{{ url_for('static', filename=hoteles[hotel]['image'], _external=True) }}" class="card-img-top" alt="image"></a>
                          <div class="card-body p-0">
                              <a href="{{ url_for('rooms') }}">
                                  <h5 class="card-title pt-4">Trivium {{hoteles[hotel]["location"]}}</h5>
                              </a>
                              <p class="card-text">{{hoteles[hotel]["description"]}}</p>

                              <div class="card-text">
                                  <ul class="d-flex">
                                      <li class="residence-list"> <img src="{{ url_for('static', filename='/images/Estrella.png', _external=True) }}" alt="image">{{hoteles[hotel]["stars"]}} Estrellas</li>
                                      <li class="residence-list"> <img id="cant_rooms" src="{{ url_for('static', filename='/images/llave_hotel.png', _external=True) }}" alt="image"> {{hoteles[hotel]["cant_rooms"]}} Hab</li>
                                      <li class="residence-list"> <img id="cant_pisos" src="{{ url_for('static', filename='/images/hotel_pisos.png', _external=True) }}" alt="image"> {{hoteles[hotel]["floors"]}} Pisos</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>

                  {% endif %}
              {% endfor %}
          </div>
      </div>
    </div>
  </section>


  <!--Ofertas de fin de semana  -->
    <!-- Residence start  -->
    <section id="residence">
      <div class="container  my-5 py-5">
        <h2 class="text-capitalize m-0 py-lg-5">Ofertas de fin de semana</h2><br>
  
        <div class="swiper-button-next residence-swiper-next  residence-arrow"></div>
        <div class="swiper-button-prev residence-swiper-prev residence-arrow"></div>
  
        <div class="swiper residence-swiper">
            <div class="swiper-wrapper">

                {% for hotel in hoteles %}
                    {% if hotel > limite_id %}

                    <div class="swiper-slide">
                        <div class="card">
                            <a href="{{ url_for('rooms') }}"><img src="{{ url_for('static', filename=hoteles[hotel]["image"], _external=True) }}" class="card-img-top" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="{{ url_for('rooms') }}">
                                    <h5 class="card-title pt-4">Trivium {{hoteles[hotel]["location"]}}</h5>
                                </a>
                                <p class="card-text">{{hoteles[hotel]["description"]}}</p>

                                <div class="card-text">
                                    <ul class="d-flex">
                                        <li class="residence-list"> <img src="{{ url_for('static', filename='/images/Estrella.png', _external=True) }}" alt="image">{{hoteles[hotel]["stars"]}} Estrellas</li>
                                        <li class="residence-list"> <img id="cant_rooms" src="{{ url_for('static', filename='/images/llave_hotel.png', _external=True) }}" alt="image"> {{hoteles[hotel]["cant_rooms"]}} Hab</li>
                                        <li class="residence-list"> <img id="cant_pisos" src="{{ url_for('static', filename='/images/hotel_pisos.png', _external=True) }}" alt="image"> {{hoteles[hotel]["floors"]}} Pisos</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
      </div>
    </section>

  <!--About us start  -->
  <section id="about-us">
    <div class="container">
      <div class="row py-lg-5">
        <h2 class="text-capitalize text-center m-0 py-lg-5">Porque elegirnos</h2>
        <br>
        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/search.png', _external=True) }}" class="logos" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h5 class="fw-normal mt-5 ">Facil de encontrar</h5>
          <p>Nos encontrarás fácilmente, rodeados de naturaleza y a pocos minutos de las principales rutas de acceso.
             Un viaje sencillo para comenzar tu escapada perfecta.</p>
        </div><br>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/price.png', _external=True) }}" class="logos" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h5 class="fw-normal mt-5">Precios Asequibles</h5>
          <p>Disfruta de una experiencia única en medio de la naturaleza sin comprometer tu presupuesto. 
            Ofrecemos tarifas accesibles para que tu estancia sea cómoda y memorable.</p>
        </div><br>

        <div class="text-center col-lg-4">
          <img src="{{ url_for('static', filename='/images/time.png', _external=True) }}" class="logos" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes" width="140"
            height="140" loading="lazy">
          <h5 class="fw-normal mt-5 ">Procesamiento Rápido</h5>
          <p>Con nuestro proceso de reserva y check-in ágil, podrás comenzar a disfrutar de tu estancia sin demoras.
            Todo está pensado para tu comodidad desde el primer momento. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonial start  -->
  <section id="testimonial">
    <div class="container my-5">
      <div class="swiper testimonial-swiper">
          <div class="swiper-wrapper">

              {% for testimonio in testimonios %}
              <div class="swiper-slide">
                  <div class="row my-5 py-lg-5">
                      <div class="col-md-8 mx-auto">
                          <img src="{{ url_for('static', filename='/images/quote.png', _external=True) }}" class="logos" class="rounded mx-auto d-inline" alt="...">
                          <p class="testimonial-p mt-4">
                            {{testimonio["testimonio"]}}
                          </p>


                          <div class="row">
                              <div class="col-md-8">
                                  <p class="pt-5 mb-1">{{testimonio["name"]}}</p>
                                  <p class="">{{testimonio["location"]}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}

          </div>
        <div class=" testimonial-swiper-button col-md-3 position-absolute">
          <div class="swiper-button-prev testimonial-arrow"></div>
          <div class="arrow-divider"> | </div>
          <div class="swiper-button-next testimonial-arrow"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="reserva-ya">
    <h2>Listo para reservar?</h2>
    <form action="{{url_for('reservas')}}">
      <button class="btn-reserva">Reservar</button>
    </form>
  </section>
  
{% endblock %}

</html>
{% set active_page = 'index' %}
