{% extends "base.html" %}

{% block content %}
<h4 class="h4_register">registrate</h4>
<br>
<form class="form register_form" action="/register" method="post">

    <label class="form-label" for="name">Nombre:</label>
    <input class="form-input" type="text" id="name" name="name" required>

    <label class="form-label" for="lastname">Apellido:</label>
    <input class="form-input" type="text" id="lastname" name="lastname" required>

    <label class="form-label" for="dni">DNI:</label>
    <input class="form-input" type="text" id="dni" name="dni" required>

    <label class="form-label" for="phone">Telefono:</label>
    <input class="form-input" type="text" id="phone" name="phone" required>

    <label class="form-label" for="email">Email:</label>
    <input class="form-input" type="text" id="email" name="email" required>

    <label class="form-label" for="password">Contrasenia:</label>
    <input class="form-input" type="password" id="password" name="password" required>

    <div>
        <input type="checkbox" id="checkbox-login" name="checkbox-login" onclick="togglePassword()">
        <label for="checkbox-login">Muestrame la contrasenia</label>
    </div>

    <button class="contact-submit-button" type="submit">Registrarse</button>
    <div class="nav nav-tabs d-flex justify-content-center border-0 div-login" id="nav-tab" role="tablist">
        <p class="btn-links-login">
            <a href="{{url_for('login')}}">
                Login
            </a>
        </p>
        <p class="btn-links-login">
            <a href="{{url_for('recover')}}">
                Olvidaste tu contrasenia?
            </a>
        </p>
        </div>
</form>
<script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
{% endblock %}
