{% extends "base.html" %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<section id="rooms-gallery">
    <div class="conteiner rooms_container">
        <h2>Habitaciones de Nuestro Hotel</h2>
        <div class="gallery">
            {% for content in cuartos %}
            <div class="gallery-item">
                <p>{{cuartos[content]["type_room"]}}</p>
                <img src="{{url_for('static', filename=cuartos[content]['image'], _external=True)}}" alt="">
                <p class="caption">{{cuartos[content]["description"]}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% set active_page = 'rooms' %}




